.about {
   padding-top: 60px;
   .wrapper {
      display: flex;
      justify-content: center;
   }
   &__img {
      width: 290px;
      height: 370px;
      margin-right: 40px;
   }
   &__content {
      width: 345px;
      margin: 20px 0 0 40px;
      &__text {
         font-size: 14px;
         line-height: 20px;
         p {
            margin: 0 0 10px 0;
         }
      }
   }
   &__title {
      font-size: 24px;
      line-height: 35px;
      margin: 0;
   }
   &__divider {
      display: block;
      width: 240px;
      margin: 40px auto 0 auto;
      border-bottom: 1px solid black;
   }
}